In [4]:
import pandas as pd

In [5]:
df = pd.read_csv(r'D:\Machine Learning\ML Projects\CampusX\Datasets\train.csv')

In [6]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
from ydata_profiling import ProfileReport
prof = ProfileReport(df)
prof.to_file(output_file='output.html')

c:\Users\Kirti Shendge\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Summarize dataset: 100%|██████████| 47/47 [00:07<00:00,  6.26it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:03<00:00,  3.99s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.01it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 125.44it/s]

In [8]:
#Example Use Case:
#This is typically used in data analysis or data science tasks to quickly understand the structure and contents of a dataset, identify missing data, and get descriptive statistics, all in one easy-to-read report.