In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv(r'car.csv')

In [6]:
df.head(2)

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95

In [7]:
df.shape

(36, 5)

In [8]:
X = df.iloc[:,2:4]
y = df.iloc[:,-1]

In [9]:
X.shape[0]  # Shape[0] gives the total no. of rows

36

In [10]:
X.shape[1]  # Shape[1] gives the total no. of columns

2

In [11]:
y.shape

(36,)

In [12]:
X.head(1)

   Volume  Weight
0    1000     790

In [13]:
y.head(1)

0    99
Name: CO2, dtype: int64

In [14]:
def train_test_split_custom(X, y, test_size=0.2, random_state=None):
    if random_state:
        np.random.seed(random_state)

    # Shuffle the indices of the dataset
    indices = np.arange(X.shape[0])
    np.random.shuffle(indices)
    
    # Split the indices based on the test_size
    test_size = int(test_size * X.shape[0])
    
    test_indices = indices[:test_size]
    train_indices = indices[test_size:]
    
    # Use these indices to split X and y into training and testing sets
    X_train, X_test = X.iloc[train_indices], X.iloc[test_indices]
    y_train, y_test = y.iloc[train_indices], y.iloc[test_indices]
    
    return X_train, X_test, y_train, y_test

# Example usage:
# X_train, X_test, y_train, y_test = train_test_split_custom(X, y, test_size=0.2, random_state=2)

In [15]:
X_train, X_test, y_train, y_test = train_test_split_custom(X, y, test_size=0.2, random_state=2)

In [16]:
X_train.shape

(29, 2)

In [17]:
X_test.shape

(7, 2)

In [18]:
y_train.shape

(29,)

In [19]:
y_test.shape

(7,)

In [20]:
class MeraLR:
    def __init__(self):
        self.coef_ = None
        self.intercept_ = None

    def fit(self,X_train,y_train):
        X_train = np.insert(X_train,0,1,axis=1)
       
        #Calculate the coefficients
        betas = np.linalg.inv(np.dot(X_train.T,X_train)).dot(X_train.T).dot(y_train)
        self.intercept_ = betas[0]
        self.coef_ = betas[1:]        

    def predict(self,X_test):
        y_pred = np.dot(X_test,self.coef_) + self.intercept_
        return y_pred

In [21]:
lr = MeraLR()
lr.fit(X_train,y_train)

In [22]:
y_pred = lr.predict(X_test)
y_pred

array([ 95.1607672 , 101.6082661 , 101.9235506 , 107.25613475,
       105.9876497 , 101.48959814, 106.34830724])

In [23]:
X_test

    Volume  Weight
12    1000    1112
13    1600    1252
28    1600    1523
30    2100    1605
24    2000    1415
9     1600    1150
27    2000    1725

In [24]:
y_test

12     99
13     94
28    109
30    115
24     99
9      99
27    114
Name: CO2, dtype: int64

In [25]:
lr.intercept_

np.float64(83.39268486047897)

In [26]:
lr.coef_

array([0.01047437, 0.00116341])